.container {
    position: relative;
}

.star_icon {
    top: 0;
    bottom:0;
    position: relative;

    &_filled {
        @extend .star_icon;
        color: var(--primary);
        z-index: 10;
        position: absolute;
    }

    &_unfilled {
        @extend .star_icon;
        color: grey;
        display: block;
    }
}






